@using System.Globalization
@model SFA.DAS.EmployerUsers.Support.Core.Domain.Model.EmployerUser

<h1 class="heading-large">User overview</h1>

@if (Model != null)
{
    <dl class="definition-list">
        <dt>Name:</dt>
        <dd>@Model.FirstName @Model.LastName</dd>
        <dt>Email:</dt>
        <dd><a href="mailto:@Model.Email">@Model.Email</a></dd>
        <dt class="last-dt">Status:</dt>
        <dd class="last-dd">@Model.Status</dd>
    </dl>
    <hr />
    <h2 class="heading-medium">@Model.FirstName @Model.LastName can access</h2>

    if (Model.Accounts.Any())
    {
        <table class="responsive">
            <thead>
                <tr>
                    <th scope="col" class="">Account name</th>
                    <th scope="col" class="">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Accounts)
                {
                    <tr>
                        <td data-label="Account Name" id="AccountName">@item.DasAccountName</td>
                        @if (Model.AccountsUri != null)
                        {
                            <td class=""><a href="@string.Format(Model.AccountsUri, item.HashedAccountId)">view</a></td>
                        }
                        else
                        {
                            <td>&nbsp;</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>No employer accounts</div>
    }
}
else
{
    <div>User not found</div>
}
