
@model SFA.DAS.EmployerUsers.Web.Models.OrchestratorResponse<SFA.DAS.EmployerUsers.Web.Models.ChangeEmailViewModel>

@{
    ViewBag.PageID = "page-change-email-address";
    ViewBag.Title = "Change your email address";
}

<h1 class="heading-xlarge"> Change your email address </h1>

<form method="post">
    @Html.AntiForgeryToken()

    <fieldset>
        <legend class="visuallyhidden">New email address</legend>

        <div class="form-group @(!string.IsNullOrEmpty(Model.Data.NewEmailAddressError)? "error" : "")">
            <label class="form-label-bold" for="NewEmailAddress">
                <span>New email address</span>
                @if (!string.IsNullOrEmpty(Model.Data.NewEmailAddressError))
                {
                    <span class="error-message" id="error-message-email">@Model.Data.NewEmailAddressError</span>
                }
            </label>
            <input autofocus="autofocus" aria-required="true" class="form-control" id="NewEmailAddress" name="NewEmailAddress">
        </div>

        <div class="form-group @(!string.IsNullOrEmpty(Model.Data.ConfirmEmailAddressError) ? "error" : "")">
            <label class="form-label-bold" for="ConfirmEmailAddress">
                <span>Re-type email addresss</span>

                @if (!string.IsNullOrEmpty(Model.Data.ConfirmEmailAddressError))
                {
                    <span class="error-message" id="error-message-email">@Model.Data.ConfirmEmailAddressError</span>
                }
            </label>
            <input aria-required="true" class="form-control" id="ConfirmEmailAddress" name="ConfirmEmailAddress">
        </div>
    </fieldset>
    <button type="submit" class="button">Continue</button>
</form>