@model SFA.DAS.EmployerUsers.Web.Models.ChangePasswordViewModel


@if (!Model.Valid)
{
    <div class="error-summary" role="group" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading"> Errors to fix </h1>
        <p>Check the following details:</p>
        <ul class="error-summary-list">
            @if (!string.IsNullOrEmpty(Model.GeneralError))
            {
                <li>@Model.GeneralError</li>
            }
            @if (!string.IsNullOrEmpty(Model.CurrentPasswordError))
            {
                <li>
                    <a class="fake-link" href="#@(nameof(Model.CurrentPassword))">@Model.CurrentPasswordError</a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.NewPasswordError))
            {
                <li>
                    <a class="fake-link" href="#@(nameof(Model.NewPassword))">@Model.NewPasswordError</a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.ConfirmPasswordError))
            {
                <li>
                    <a class="fake-link" href="#@(nameof(Model.ConfirmPassword))">@Model.ConfirmPasswordError</a>
                </li>
            }
        </ul>
    </div>
}
<h1 class="heading-xlarge">Change your password</h1>
<form method="post">
    @Html.AntiForgeryToken()

    <fieldset>
        <legend class="visuallyhidden">New password</legend>

        <div class="form-group @(!string.IsNullOrEmpty(Model.CurrentPasswordError) ? "error" : "") ">
            <label class="form-label-bold" for="CurrentPassword">
                <span class="form-label-bold">Current password</span>
                <span class="error-message" aria-live="polite">@Model.CurrentPasswordError</span>
            </label>
            <input type="password" autofocus="autofocus" aria-required="true" class="form-control" id="CurrentPassword" name="CurrentPassword" aria-invalid="@(!string.IsNullOrEmpty(Model.CurrentPasswordError) ? "true" : "false")">
        </div>

        <div class="form-group @(!string.IsNullOrEmpty(Model.NewPasswordError) ? "error" : "") ">
            <label class="form-label-bold" for="NewPassword">
                <span class="form-label-bold">Create new password</span>
                <span class="error-message" aria-live="polite">@Model.NewPasswordError</span>
                <span class="form-hint">
                    <p>Your password must:</p> 
                    <ul class="list list-bullet">
                        <li>be between 8 and 16 characters</li> 
                        <li>include at least one uppercase letter and one lowercase letter</li> 
                        <li>include at least one number</li> 
                    </ul> 
                </span>
            </label>
            <input type="password" aria-required="true" class="form-control" id="NewPassword" name="NewPassword" aria-invalid="@(!string.IsNullOrEmpty(Model.NewPasswordError) ? "true" : "false")">
        </div>

        <div class="form-group @(!string.IsNullOrEmpty(Model.ConfirmPasswordError) ? "error" : "") ">
            <label class="form-label-bold" for="ConfirmPassword">
                <span class="form-label-bold">Re-type password</span>
                <span class="error-message" aria-live="polite">@Model.ConfirmPasswordError</span>
            </label>
            <input type="password" aria-required="true" class="form-control" id="ConfirmPassword" name="ConfirmPassword" aria-invalid="@(!string.IsNullOrEmpty(Model.ConfirmPasswordError) ? "true" : "false")">
        </div>
    </fieldset>
    <button type="submit" class="button">Continue</button>
</form>
@section scripts {
    @Scripts.Render("~/bundles/password")
}