@model SFA.DAS.EmployerUsers.Web.Models.OrchestratorResponse<SFA.DAS.EmployerUsers.Web.Models.ActivateUserViewModel>
@{
    ViewBag.PageID = "page-confirm-identity";
    ViewBag.Title = "Confirm your identity";
    ViewBag.HideSigninLink = "true";

    var invalidAttributes = Model.Data.Valid ? "aria-invalid=\"true\" aria-labeledby=\"invalidMessage\"" : "";
}
<h1 class="heading-xlarge">@ViewBag.Title</h1>
<form method="post" autocomplete="off" id="form-activate" action="@Url.Action("Confirm")">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend class="visuallyhidden">Access code for user registration</legend>
        <div class="form-group  @(!Model.Data.Valid ? "error" : "")">
            <label for="AccessCode">
                <span class="form-label-bold">Enter code</span>
                @if (!Model.Data.Valid && string.IsNullOrEmpty(Model.Data.GeneralError))
                {
                    if (@Model.Data.ErrorDictionary.ContainsKey(nameof(Model.Data.AccessCode)))
                    {
                        <span class="error-message" id="invalidMessage">
                            @Model.Data.ErrorDictionary[nameof(Model.Data.AccessCode)]
                        </span>
                    }

                    if (@Model.Data.ErrorDictionary.ContainsKey(nameof(Model.Data.AccessCode) + "Expired"))
                    {
                        <span class="error-message" id="invalidMessage">
                            @Model.Data.ErrorDictionary[nameof(Model.Data.AccessCode) + "Expired"]. You can <a href="@Url.Action("ResendActivation")">request a new code.</a>
                        </span>
                    }
                }
            </label>
            <input @invalidAttributes autofocus="autofocus" aria-required="true" class="form-control" id="AccessCode" name="AccessCode">
        </div>
        <div class="form-group">
            <input type="submit" class="button" title="" name="activatecommand" value="Continue" />
        </div>
    </fieldset>
</form>

<form method="post" autocomplete="off" id="form-resend" action="@Url.Action("ConfirmResend")">
    @Html.AntiForgeryToken()
    <h2 class="heading-small">Not received an email?</h2>
    <input type="submit" class="link-button" name="resendcommand" value="You can request another email" />

</form>


@section breadcrumb {
    <div id="js-breadcrumbs" class="breadcrumbs"></div>
}