@model SFA.DAS.EmployerUsers.Web.Models.RequestPasswordResetViewModel
@{
    ViewBag.PageID = "page-forgotten-password";
    ViewBag.Title = "Reset your password";
}

<a href="@Url.Action("Login","Home")" class="link-back">Back</a>

@if (!Model.Valid)
{
    <div class="error-summary" role="group" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading"> Errors to fix </h1>
        <p>Check the following details:</p>
        <ul class="error-summary-list">
        @if (!string.IsNullOrEmpty(Model.EmailError))
            {
            <li>
                <a href="#@(nameof(Model.Email))">@Model.EmailError</a>
            </li>
        }
        </ul>
    </div>
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Reset your password</h1>
        <p>Enter your email address to get a password reset code.</p>
        <form method="post" action="forgottencredentials" novalidate>
            @Html.AntiForgeryToken()
            <div class="form-group @(!string.IsNullOrEmpty(Model.EmailError) ? "error" : "") ">
                <label for="Email">
                    <span class="form-label-bold">Email</span>
                    @if (!string.IsNullOrEmpty(Model.EmailError)) { 
                    <span class="error-message" id="error-email">@Model.EmailError</span>
                    }
                </label>
                <input class="form-control" id="Email" name="Email" type="text" value="@Model.Email"
                        aria-required="true" @(!string.IsNullOrEmpty(Model.EmailError) ? "aria-invalid=true aria-describedby=error-email" : "" )>
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="forgottenpassword-button">Get reset code</button>
            </div>
        </form>
    </div>
</div>
