@model SFA.DAS.EmployerUsers.Web.Models.OrchestratorResponse<SFA.DAS.EmployerUsers.Web.Models.RequestPasswordResetViewModel>
@{
    ViewBag.PageID = "page-forgotten-password";
    ViewBag.Title = "Email address";
    ViewBag.HideSigninLink = true;
    ViewBag.HideCookieMessage = true;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@ViewBag.Title</h1>
        <p>Enter your registered email address to get a password reset code.</p>
        <form method="post" action="forgottencredentials" novalidate autocomplete="off">
            @Html.AntiForgeryToken()
            <input type="hidden" value="@Model.Data.SignInId" name="SignInId" />
            <input type="hidden" value="@Model.Data.ClientId" name="ClientId" />

            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.EmailError) ? "error" : "") ">
                <label for="Email">
                    @if (!string.IsNullOrEmpty(Model.Data.EmailError))
                    {
                        <span class="error-message" id="error-email">@Model.Data.EmailError</span>
                    }
                </label>
                <input class="form-control" id="Email" name="Email" type="email" value="@Model.Data.Email"
                       aria-required="true" @(!string.IsNullOrEmpty(Model.Data.EmailError) ? "aria-invalid=true aria-describedby=error-email" : "" )>
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="forgottenpassword-button">Continue</button>
            </div>
            <input type="hidden" name="ReturnUrl" value="@Model.Data.ReturnUrl" />
        </form>
    </div>
</div>

@section breadcrumb {
    <a href="@Url.Action("ForgottenCredentialsIntro","Account", new { Id = Model.Data.SignInId, ClientId = Model.Data.ClientId, ReturnUrl = Model.Data.ReturnUrl })" class="link-back">Back</a>
}