@model SFA.DAS.EmployerUsers.Web.Models.RequestPasswordResetViewModel

<div class="hgroup">
    <h1 class="heading-large">Can't access your account?</h1>
</div>
@if (!Model.Valid)
{
    <div class="validation-summary-errors panel-danger" style="margin-bottom: 10px;">
        <div class="panel-body">
            <ul>
                @if (!string.IsNullOrEmpty(Model.EmailError))
                {
                    <li>
                        <a class="fake-link" href="#@(nameof(Model.Email))">@Model.EmailError</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

    <section>
        <div class="text">

            <h2 class="heading-medium">Forgotten your password?</h2>
            
            <p>
                To reset your password we need to send you a 6-character code. If you can’t see it in your inbox within a few minutes, please check your spam folder.
            </p>
        </div>
        <form method="post" action="forgottencredentials">
            @Html.AntiForgeryToken()
            <div class="form-group @(!string.IsNullOrEmpty(Model.EmailError) ? "input-validation-error" : "") ">
                <a name="@nameof(Model.Email)"></a>
                <label class="form-label" for="Email">Email address</label>
                <input class="form-control" id="Email" name="Email" type="text" value="@Model.Email"
                       required="required" data-rule-required="true" data-msg-required="Please enter email address"
                       aria-required="True" aria-invalid="@(!string.IsNullOrEmpty(Model.EmailError) ? "True" : "False")">
                <span class="field-validation-error" aria-live="polite" data-valmsg-for="Email">@Model.EmailError</span>
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="forgottenpassword-button">Send code</button>
            </div>
        </form>
</section>



<div class="text">
    <h2 class="heading-medium">If your account is locked</h2>
    <p>
        If your account is locked and you’ve been sent a code to unlock it, you
        can <a href="@Url.Action("Unlock", "Account")">enter it</a> now.
    </p>
</div>


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/das.validate.js")"></script>
    <script>
        window.das.validation.enableValidation();
    </script>
}