@model SFA.DAS.EmployerUsers.Web.Models.OrchestratorResponse<SFA.DAS.EmployerUsers.Web.Models.LoginViewModel>
@{
    ViewBag.PageID = "page-sign-in";
    ViewBag.Title = "Sign in";
    ViewBag.HideSigninLink = "true";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">@ViewBag.Title</h1>
        <p>Sign in or <a href="@Url.Action("Register", "Account", new {ClientId = Model.Data.ClientId, ReturnUrl = Model.Data.ReturnUrl })">create an account</a> to manage your apprenticeship funds.</p>
        <form method="post" autocomplete="off" id="form-signin">
            @Html.AntiForgeryToken()
            <div class="form-group  @(!string.IsNullOrEmpty(Model.Data.EmailAddressError) ? "error" : "")">
                <label for="EmailAddress">
                    <span class="form-label-bold">Email address</span>
                    @if (!string.IsNullOrEmpty(Model.Data.EmailAddressError))
                    {
                        <span class="error-message" id="error-message-email">@Model.Data.EmailAddressError</span>
                    }
                </label>
                <input class="form-control form-control-3-4" id="EmailAddress" name="EmailAddress" type="text" autocomplete="off"
                       autofocus="autofocus" aria-required="true">
            </div>
            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.PasswordError) ? "error" : "")">
                <label for="Password">
                    <span class="form-label-bold">
                        Password
                    </span>
                    @if (!string.IsNullOrEmpty(Model.Data.PasswordError))
                    {
                        <span class="error-message" id="error-message-email">@Model.Data.PasswordError</span>
                    }
                </label>
                <input class="form-control form-control-3-4" id="Password" name="Password" type="password" autocomplete="off"
                       aria-required="true">
                
            </div>
            <div class="form-group">
                <button type="submit" class="button" id="button-signin">Sign in</button>
            </div>
        </form>
        <p>
            <a href="@Url.Action("ForgottenCredentialsIntro","Account",new { Id = Model.Data.SignInId, ClientId = Model.Data.ClientId, ReturnUrl = Model.Data.ReturnUrl })">Forgotten your password?</a>
        </p>
    </div>
</div>

@section breadcrumb {
    <div id="js-breadcrumbs" class="breadcrumbs"></div>
}