@model SFA.DAS.EmployerUsers.Web.Models.PasswordResetViewModel
@{
    ViewBag.PageID = "page-reset-password";
    ViewBag.Title = "Reset password";
}
@if (!Model.Valid)
{
    <div class="error-summary" role="group" tabindex="-1">
        <h1 class="heading-medium error-summary-heading" id="error-summary-heading"> Errors to fix </h1>
        <p>Check the following details:</p>
        <ul class="error-summary-list">
            @if (!string.IsNullOrEmpty(Model.PasswordResetCodeError))
            {
                <li>
                    <a href="#@(nameof(Model.PasswordResetCode))">@Model.PasswordResetCodeError</a>
                </li>
            }
            
            @if (!string.IsNullOrEmpty(Model.PasswordError))
            {
                <li>
                    <a href="#@(nameof(Model.Password))">@Model.PasswordError</a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.ConfirmPasswordError))
            {
                <li>
                    <a href="#@(nameof(Model.ConfirmPassword))">@Model.ConfirmPasswordError</a>
                </li>
            }
        </ul>
    </div>
}

<h1 class="heading-xlarge">Reset your password</h1>
<p class="lede">We've sent a password reset code to your email address.</p>
<form method="POST" action="@Url.Content("~/identity/employer/resetpassword")" novalidate>
    @Html.AntiForgeryToken()
    <fieldset>
        <legend class="visually-hidden">Enter your 6 character code to reset your password</legend>
        <p class="form-group">
            <span class="form-label-bold">Email address</span>
            <span class="form-label">@Model.Email</span>
            <input type="hidden" value="@Model.Email" name="Email"/>
        </p>
        <div class="form-group @(!string.IsNullOrEmpty(Model.PasswordResetCodeError) ? "error" : "") ">
            <label for="PasswordResetCode">
                <span class="form-label-bold">Enter code</span>
                @if (!string.IsNullOrEmpty(Model.PasswordResetCodeError))
                {
                    <span class="error-message" id="error-code">@Model.PasswordResetCodeError</span>
                }
            </label>
            <input class="form-control" id="PasswordResetCode" name="PasswordResetCode" value="@Model.PasswordResetCode"
                   aria-required="true" @(!string.IsNullOrEmpty(Model.PasswordResetCodeError) ? "aria-invalid=true aria-describedby=error-code" : "" ) >
        </div>
        <div class="form-group @(!string.IsNullOrEmpty(Model.PasswordError) ? "error" : "") ">
            <label for="Password">
                <span class="form-label-bold">Create new password</span>
                <span class="form-hint">Password requires upper and lowercase letters, a number and at least 8 characters</span>
                @if (!string.IsNullOrEmpty(Model.PasswordError))
                {
                    <span class="error-message" id="error-password">@Model.PasswordError</span>
                }
            </label>
            <input class="form-control" id="Password" type="password" name="Password"
                aria-required="true" @(!string.IsNullOrEmpty(Model.PasswordError) ? "aria-invalid=true aria-describedby=error-password" : "" ) >
        </div>
        <div class="form-group @(!string.IsNullOrEmpty(Model.ConfirmPasswordError) ? "error" : "") ">
            <label for="ConfirmPassword">
                <span class="form-label-bold">Confirm password</span>
                @if (!string.IsNullOrEmpty(Model.ConfirmPasswordError))
                {
                    <span class="error-message" id="error-confirm">@Model.ConfirmPasswordError</span>
                }
            </label>
            <input class="form-control" id="ConfirmPassword" type="password" name="ConfirmPassword"
                   aria-required="true" @(!string.IsNullOrEmpty(Model.ConfirmPasswordError) ? "aria-invalid=true aria-describedby=error-confirm" : "" ) >
        </div>
    </fieldset>
    <button type="submit" class="button">Continue</button>
</form>
