@model SFA.DAS.EmployerUsers.Web.Models.PasswordResetViewModel

<h1 class="heading-large">Password reset</h1>
@if (!Model.Valid)
{
    <div class="validation-summary-errors panel-danger" style="margin-bottom: 10px;">
        <div class="panel-body">
            <ul>

                @if (!string.IsNullOrEmpty(Model.PasswordError))
                {
                    <li>
                        <a class="fake-link" href="#@(nameof(Model.Password))">@Model.PasswordError</a>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.ConfirmPasswordError))
                {
                    <li>
                        <a class="fake-link" href="#@(nameof(Model.ConfirmPassword))">@Model.ConfirmPasswordError</a>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.PasswordResetCodeError))
                {
                    <li>
                        <a class="fake-link" href="#@(nameof(Model.PasswordResetCode))">@Model.PasswordResetCodeError</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

<form method="POST" action="@Url.Content("~/identity/employer/resetpassword")">
    @Html.AntiForgeryToken()

    <fieldset class="inner-block-padr">
        <p class="text">Enter your 6-character code to reset your password</p>

        <div class="form-group">
            <label class="form-label">Email Address</label>
            <p class="form-prepopped">@Model.Email</p>
            <input type="hidden" value="@Model.Email" name="Email"/>
        </div>

        <div class="form-group @(!string.IsNullOrEmpty(Model.PasswordResetCodeError) ? "input-validation-error" : "") ">
            <a name="@nameof(Model.PasswordResetCode)"></a>
            <label class="form-label" for="PasswordResetCode">Enter Code</label>
            <input class="form-control" id="PasswordResetCode" name="PasswordResetCode" value="@Model.PasswordResetCode"
                   required="required" data-rule-required="true" data-msg-required="Please enter first name"
                   aria-required="True" aria-invalid="@(!string.IsNullOrEmpty(Model.PasswordResetCodeError) ? "True" : "False")">
            <span class="field-validation-error" aria-live="polite" data-valmsg-for="PasswordResetCode">@Model.PasswordResetCodeError</span>
        </div>

        <div class="form-group">
            <p>
                <a href="#">Resend Code</a>

            </p>
        </div>

        <div class="form-group @(!string.IsNullOrEmpty(Model.PasswordError) ? "input-validation-error" : "") ">
            <a name="@nameof(Model.Password)"></a>
            <label class="form-label" for="Password">Password</label>
            <input class="form-control" id="Password" type="password" name="Password"
                   required="required" data-rule-required="true" data-msg-required="Please enter password"
                   data-rule-pattern="^(?=(.*[0-9].*))(?=(.*[a-z].*))(?=(.*[A-Z].*)).{8,}$" data-msg-pattern="Password requires upper and lowercase letters, a number and at least 8 characters"
                   aria-required="True" aria-invalid="@(!string.IsNullOrEmpty(Model.PasswordError) ? "True" : "False")">
            <span class="field-validation-error" aria-live="polite" data-valmsg-for="Password">@Model.PasswordError</span>
        </div>
        <div class="form-group @(!string.IsNullOrEmpty(Model.ConfirmPasswordError) ? "input-validation-error" : "") ">
            <a name="@nameof(Model.ConfirmPassword)"></a>
            <label class="form-label" for="ConfirmPassword">Confirm Password</label>
            <input class="form-control" id="ConfirmPassword" type="password" name="ConfirmPassword"
                   required="required" data-rule-required="true" data-msg-required="Please confirm password"
                   data-rule-equalto="#Password" data-msg-equalto="Sorry, your passwords don’t match"
                   aria-required="True" aria-invalid="@(!string.IsNullOrEmpty(Model.ConfirmPasswordError) ? "True" : "False")">
            <span class="field-validation-error" aria-live="polite" data-valmsg-for="ConfirmPassword">@Model.ConfirmPasswordError</span>
        </div>
    </fieldset>
    <button type="submit" class="button">Submit</button>
</form>