@model SFA.DAS.EmployerUsers.Web.Models.OrchestratorResponse<SFA.DAS.EmployerUsers.Web.Models.UnlockUserViewModel>
@{
    ViewBag.PageID = "page-unlock-account";
    ViewBag.Title = "Enter your unlock code";
}

<div class="grid-row">
<div class="column-two-thirds">
    <h1 class="heading-xlarge">@ViewBag.Title</h1>
    <p>You should receive a 6 character code in your email. Enter the code to unlock your account.</p>
    <form method="POST" autocomplete="off">
        @Html.AntiForgeryToken()
        <fieldset>
            <legend class="visuallyhidden">Enter your email address and unlock code</legend>
            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.EmailError) ? "error" : "") ">
                <label for="Email">
                    <span class="form-label-bold">Email</span>
                    @if (!string.IsNullOrEmpty(Model.Data.EmailError))
                    {
                        <span class="error-message" id="error-email">@Model.Data.EmailError</span>
                    }
                </label>
                <input class="form-control" id="Email" name="Email" value="@Model.Data.Email"
                       aria-required="true" @(!string.IsNullOrEmpty(Model.Data.EmailError) ? "aria-invalid=true aria-describedby=error-email" : "" )>
            </div>
            <div class="form-group @(!string.IsNullOrEmpty(Model.Data.UnlockCodeError) || !string.IsNullOrEmpty(Model.Data.UnlockCodeExpiryError) ? "error" : "") ">
                <label for="UnlockCode">
                    <span class="form-label-bold">Unlock code</span>
                    @if (!string.IsNullOrEmpty(Model.Data.UnlockCodeError))
                    {
                        <span class="error-message" id="error-unlockcode">@Model.Data.UnlockCodeError</span>
                    }
                    @if (!string.IsNullOrEmpty(Model.Data.UnlockCodeMatchError))
                    {
                        <span class="error-message" id="error-unlockcode">@Model.Data.UnlockCodeMatchError</span>
                    }
                </label>
                <input class="form-control" id="UnlockCode" name="UnlockCode" value="@Model.Data.UnlockCode"
                       aria-required="true" @(!string.IsNullOrEmpty(Model.Data.UnlockCodeError) || !string.IsNullOrEmpty(Model.Data.UnlockCodeExpiryError) ? "aria-invalid=true aria-describedby=error-unlockcode" : "" )>
            </div>
        </fieldset>
        <button type="submit" name="command" class="button" value="unlock">Unlock account</button>
        <aside>
            <h2 class="heading-medium">Not received your unlock code?</h2>
            You can <button type="submit" class="link-button" name="command" value="resend" id="RequestNewCode">request another a new unlock code</button>.
        </aside>

    </form>
</div>
</div>
