@using SFA.DAS.Support.Shared.Navigation
@model SFA.DAS.Support.Shared.Navigation.MenuViewModel
@{

    var activeMenuRoot = @Model.MenuItems.FirstOrDefault(x => x.Key == (@Model.SelectedMenuItemKeys.LastOrDefault() ?? ""));


    // if we have nav items and we have the root item
    if (@Model.MenuItems.Count > 0 && activeMenuRoot != null)
    {
        var orientation = @Model.MenuOrientation == MenuOrientations.Vertical ? "flex-column" : "";

        /* The selected (active) menu item should have submenus' to display
            as a pill based sub menu across the top of the payments*/

        <ul class="nav nav-pills @orientation">
            @foreach (var subMenuItem in activeMenuRoot.MenuItems)
            {
                var isActive = @Model.SelectedMenuItemKeys.Contains(subMenuItem.Key) ? "active" : "";
                <li class="nav-item">
                    <a class="nav-link @isActive"
                       id="@subMenuItem.Key"
                       href="@subMenuItem.NavigateUrl">
                        @subMenuItem.Text
                    </a>
                </li>
            }
        </ul>
    }
}